body {
  font-family: sans-serif;
  background: #ddf; 
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

#title {
  text-align: center;
  margin: 8px 0px;
}

.grid {
  position: absolute;
  top: 72px;
  left: 50%;
  margin-left: -25%;
  background: white;
}

.grid li li {
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
}

.grid ul > li > ol > li {
  float: left;
}

.grid ul > li {
  display: block;
  height: 24px;
}

.grid .live {
  background : #1b1;
}

.controls {
  position: absolute;
  top: 72px;
  left: 20px;
  width: 200px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
}

.controls,
.controls input {
  font-size: 18px;
}

.controls input[type="button"] {
  padding: 0px 12px;
}

.controls input[type="text"] {
  padding: 2px 4px;
  width: 40px;
}

.controls li {
  padding: 4px 0px;
}


